{% extends "layouts.app" %}

{% block search_bar %}
{% endblock %}

{% block content %}
    <div class="content content--chat">
        <main class="content__main chat chat--open" id="inbox-main">
            {% block inner %}

            {% endblock %}
    </main>
    </div>
{% endblock %}


